
/* temporary */
*{
   color: white;
}

button:hover{ 
   background-color: black;
   color: white;
   border: 2px solid white;
}


/* nav */ 
.title {
   background-color: #575757;
   padding: 1%;
   display: flex;
   margin-bottom: 2%;
   border-bottom: 2px solid white;
}

.movie-icon {
   margin-bottom: 1.5%;
}

.title h1 {
   font-size: 20px;
}

#ratingForm {
   margin-left: 2%;
   margin-top: 0.1%;
}

.sort-watched-button {
   text-decoration: none;
   color: white;
   margin-top: 0.1%;
   margin-left: 2%;
}

.sort-watched-button:hover{
   color: black;
}

/* search */ 
.search-bar {
   border-radius: 5px;
   border: none;
   padding-left: 10px;
   color: #575757;
}

.search-bar::placeholder {
   margin-left: 0.25%;
   color: #575757;
}

.search-button{
   color: #575757; 
   background-color: white;
   border: none;
   border-radius: 5px;
}

.search-movie-container, .movie-container {
   position: relative;
   margin: auto;
   background-color: #575757;
   margin-bottom: 4%;
   width: 70%;
   border: 2px solid white;
   border-radius: 5px;
}

.search-movie-container{
   height: 450px;
}

.search-movie-poster{
   border-radius: 5px;
   margin-left: 14%;
   margin-top: 4%;
   object-fit: contain;
   max-height: 300px;
   max-width: 200px;
}

.search-movie-title, .movie-title {
   font-size: 20px;
   text-align: center;
   margin-top: 3%;
}

.search-movie-year {
   font-size: 15px;
   text-align: center; 
}

.search-movie-button {
   background-color: white;
   width: 30px;
   border: none;
   border-radius: 5px;
   text-align: center;
   margin-left: 45%;
}

strong { 
   color: #575757;
   font-size: 20px;
}

strong:hover{
   color:white;
}

.search-results-text, .watched-movies-text {
   font-size: 30px;
   padding-left: 4%;
}

.title-text-div, .title-text-div-two {
   background-color: #575757;
   border-radius: 5px;
   margin-top: 2%;
   max-height: 45px;
   border: 2px solid white;
}

.title-text-div-two {
   width: 220px;
   margin-bottom: 6%;
}

.title-text-div {
   width: 250px;
}



/* saved movies */

.alert{
   margin-top: 2%;
}


.movie-grid { 
   display: flex;
   flex-wrap: wrap;
   justify-content: center; 
   margin-top: 2%;
}

.movie-container {
   flex: 0 0 30%; 
   margin-bottom: 20px;
   margin-top: 8%;
   text-align: center; 
   height: 550px;
}

.movie-container img {
  max-width: 200px;
  max-height: 300px;
  width: auto;
  height: auto;
  margin-top: 4%;
}




.watch-button, .delete-button {
   width: 65px;
   color: #575757;
   background-color: white;
   margin-bottom: 4%;
   border: none; 
   border-radius: 5px
}

.details-link {
   color: white;
}

.details-link:hover{
   color: black;
}


.container-fluid {
  background-color: #404040;
}